.submit{
    background: var(--secondary);
    font-family: poppins ;
    border: none;
    color: white;
    padding: 5px 80px;
    border-radius: 10px;
}

.poppins{
    font-family: poppins;
}

.textinput{
    background: var(--primary);
    border-color: black;
    border-radius: 10px;
    color: white;
}

.textholder::placeholder{
    color: white;
}